.card-main{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;

    justify-content: space-between;
}

.card-img img{
    max-width: 300px;
    min-height: 150px;
    border-radius: 5%;
    object-fit: cover;
   
}
.card-img{
    position: relative;
}
.card-badge{
    position: absolute;
    top: 3px;
    left: 5px;
    
}

.card-badge h3 .badge{
    background-color: white !important;
    opacity: 0.9;
    color: black;
    font-weight: 400;
    font-size: medium;
    padding: 9px;
}

.card-desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.date{
    font-weight: 400;
    color: grey;
    font-size: medium;
}

.title{
    font-weight: 700;
    font-size: 24px;
}